body{
    font-family: 'Lato';
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: aqua;
    padding-left: 240px ;
    padding-top: 50px;
    padding-right: 240px;
    padding-bottom: 40;
}
.heading-content{
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.btn-primary{
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border: 0;
    background: #E55473;
    color: white;
    margin-bottom: 20px;
}
.heading-title{
    font-family: Lato;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.main-section {
    margin-top: 120px;
}
.section-title{
    text-align: center;
    font-weight: 800px;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    color: #272727;
}
.section-description{
    text-align: justify;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    font-weight: 400px;
    color: #797979;
    margin-left: 240px;
    margin-right: 240px;
}
.feature-picture-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    background: #fff;
    text-align: center;
    text-decoration: underline;
    flex-shrink: 0;
    align-items: center;
}
.feature-picture1{
    border-radius: 300px 300px 0 0;
    background: #F2DEE7;
    height: 538px;
    
}
.feature-picture2{
    border-radius: 300px 300px 0 0;
    background: #D9EFF1;
    height: 538px;
}
.feature-picture3{
    border-radius: 300px 300px 0 0;
    background: #E3EBDB;
    height: 538px;
}
.sale-section{
    display: flex;
    background: #51d1dd;
    margin-top: 30px;
    padding-left: 240px;
    align-items: center;
}
.sale-title{
    text-align: center;
    font-weight: 800px;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    color: #272727;
}
.sale-description{
    text-align: justify;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    font-weight: 400px;
    color: #797979;
    margin-left: 40px;
    margin-right: 40px;
}
.social-media-cotainer{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-left: 200px;
    margin-right: 200px;
}
.insta-description{
    text-align: center;
}
.flower-shop{
    text-align: center;
    
}
.text-deco{
color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.flower-shop{
    background: #000;
}

.flowershop-title{
    font-size: 45px;
    color: #fff;
    font-weight: 8000;
    padding-bottom: 0;
    padding-top: 20px;
}
.section-subscribe{
    background-image: url('.images/rectangle.png');
}
.flowershop-description{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
}